<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENTERTAINMENT</title>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css"/>
</head>
<body>
    <header>
        <img src="/images/logo.png">
    <div class="center">
        <div class="topnav">
            <a class="active" href="/home">HOME</a>
            <a href="/weather">WEATHER</a>
            <a href="/sport">SPORT</a>
            <a href="/entertainment">ENTERTAINMENT</a>
        </div>
    </div>
    </header>
</body>
</html>