<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LINDINGERS NEWS</title>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<header>
    <img src="/images/logo.png">
<div class="dropshadow">
<div class="center">
    <div class="topnav">
        <a class="active" href="/home">HOME</a>
        <a href="/weather">WEATHER</a>
        <a href="/sport">SPORT</a>
        <a href="/entertainment">ENTERTAINMENT</a>
    </div>
</div>
</header>
</div>
<section class="flexContainerRow">
    <div class=div1>PUTIN ER HELT UDE AT SKIDE</div>
    <div class="div5">Hvad skal vi dog stille op med denne lorte side?</div>
</section>
<section class="flexContainer">
    <div class="div2" onclick="location.href='https://bt.dk'"; style="cursor: pointer;">
        Mette Frederiksen siger: "..du er for syg til mig.."
    </div>


</section>
<section class="flexContainer" onclick="location.href='https://goautonomous.io/'"; style="cursor: pointer;">
    <img src="/images/goautonomous.png"/>
    <div class="div3">
        Startup dominere AI technologi!"
    </div>
</section>
</body>
</html>