<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPORT</title>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<header>
    <img src="/images/logo.png">
<div class="center">
    <div class="topnav">
        <a class="active" href="/home">HOME</a>
        <a href="/weather">WEATHER</a>
        <a href="/sport">SPORT</a>
        <a href="/entertainment">ENTERTAINMENT</a>
    </div>
</div>
</header>
<section class="flexContainer">
    <div class="div5" onclick="location.href='https://fck.dk'"; style="cursor: pointer;">
        FCK: "VI SKAL VIDERE!"
    </div>
</section>
<section class="flexContainer" onclick="location.href='https://www.bt.dk/oevrig-sport/nfl-hold-topper-liste-for-mest-vaerdifulde-sportshold'"; style="cursor: pointer;">
    <img src="/images/sport1.jpeg"/>
    <div class="div5">
        NFL-hold topper liste for mest værdifulde sportshold"
    </div>
</section>
</body>
</html>