<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css"/>
    <title>GoAutonomous</title>
</head>
<body>
    <header>LINDINGER NEWS</header>
    <div class="center">
    <div class="topnav">
        <a class="active" href="/home">HOME</a>
        <a href="/weather">WEATHER</a>
        <a href="/sport">SPORT</a>
        <a href="/entertainment">ENTERTAINMENT</a>
    </div>
    </div>
    <section class="flexContainer">
        <div class="div4">

        </div>

    </section>


</body>
</html>